
CREATE DATABASE QLNS
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MAHOADON] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [pk_cthd] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_NHAP_SACH]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_NHAP_SACH](
	[MAPHIEUNHAP] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [pk_ctns] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] NOT NULL,
	[MAKHACHHANG] [int] NOT NULL,
	[NGAYLAP] [date] NULL,
	[MANHANVIEN] [int] NOT NULL,
	[TONGTIEN] [int] NULL,
	[DATHANHTOAN] [int] NULL,
	[CONLAI] [int] NULL,
 CONSTRAINT [pk_hd] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[EMAIL] [varchar](50) NULL,
	[MAUUDAI] [int] NULL,
	[TIENNO] [int] NULL,
 CONSTRAINT [pk_kh] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MASACH] [int] NOT NULL,
	[SOLUONGTON] [int] NULL,
 CONSTRAINT [pk_k] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NULL,
	[TENDANGNHAP] [nvarchar](50) NULL,
	[MAQUYEN] [int] NOT NULL,
	[MANGUOIQUANLI] [int] NOT NULL,
	[LUONG] [int] NULL,
	[MAPHUCAP] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPSACH]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPSACH](
	[MAPHIEUNHAP] [int] NOT NULL,
	[NGAYNHAP] [date] NULL,
	[MANHANVIEN] [int] NOT NULL,
	[NOINHAP] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_NHAPSACH] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MAPHIEUTHU] [int] NOT NULL,
	[MAKHACHHANG] [int] NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
	[NGAYTHU] [date] NOT NULL,
	[SOTIENTHU] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUCAP]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUCAP](
	[MAPHUCAP] [int] NOT NULL,
	[TENPHUCAP] [nvarchar](50) NULL,
	[TIENTHUONG] [int] NULL,
 CONSTRAINT [pk_pc] PRIMARY KEY CLUSTERED 
(
	[MAPHUCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [int] NOT NULL,
	[CHUCVU] [nvarchar](50) NULL,
 CONSTRAINT [pk_q] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] NOT NULL,
	[TENSACH] [nvarchar](50) NULL,
	[MATHELOAI] [int] NOT NULL,
	[TACGIA] [nvarchar](50) NULL,
	[DONGIABAN] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
 CONSTRAINT [pk_tk] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATHELOAI] [int] NOT NULL,
	[TENTHELOAI] [nvarchar](50) NULL,
 CONSTRAINT [pk_tl] PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UUDAI]    Script Date: 12/5/2018 11:33:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UUDAI](
	[MAUUDAI] [int] NOT NULL,
	[TENUUDAI] [nvarchar](50) NULL,
	[LOAIKHACHHANG] [nvarchar](50) NULL,
	[UUDAI] [int] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
 CONSTRAINT [pk_ud] PRIMARY KEY CLUSTERED 
(
	[MAUUDAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_TIET_HOA_DON] ([MAHOADON], [MASACH], [SOLUONG], [THANHTIEN]) VALUES (2532, 12, 30, 7000000)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MAHOADON], [MASACH], [SOLUONG], [THANHTIEN]) VALUES (2533, 13, 30, 7000000)
INSERT [dbo].[CHI_TIET_NHAP_SACH] ([MAPHIEUNHAP], [MASACH], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (1, 12, 20, 25000, 500000)
INSERT [dbo].[CHI_TIET_NHAP_SACH] ([MAPHIEUNHAP], [MASACH], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (2, 13, 20, 30000, 600000)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACHHANG], [NGAYLAP], [MANHANVIEN], [TONGTIEN], [DATHANHTOAN], [CONLAI]) VALUES (2532, 1234, CAST(N'2018-12-01' AS Date), 1122, 500000, 100000, 400000)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACHHANG], [NGAYLAP], [MANHANVIEN], [TONGTIEN], [DATHANHTOAN], [CONLAI]) VALUES (2533, 1235, CAST(N'2018-12-01' AS Date), 1123, 1000000, 500000, 500000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL], [MAUUDAI], [TIENNO]) VALUES (1234, N'Nguyễn Thi', N'123 Nguyễn Bỉnh Khiêm', 847756633, NULL, 252525, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL], [MAUUDAI], [TIENNO]) VALUES (1235, N'Văn Hậu', N'456 Hùng Vương', 845256623, NULL, 333333, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL], [MAUUDAI], [TIENNO]) VALUES (1236, N'Công Phương', N'789 Hồng Bàng', 845588999, NULL, 666666, NULL)
INSERT [dbo].[KHO] ([MASACH], [SOLUONGTON]) VALUES (12, 25)
INSERT [dbo].[KHO] ([MASACH], [SOLUONGTON]) VALUES (13, 30)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [TENDANGNHAP], [MAQUYEN], [MANGUOIQUANLI], [LUONG], [MAPHUCAP]) VALUES (1122, N'Nguyễn Văn A', N'ngvana', 2, 1133, 5000000, 2223)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [TENDANGNHAP], [MAQUYEN], [MANGUOIQUANLI], [LUONG], [MAPHUCAP]) VALUES (1123, N'Nguyễn Thị T', N'ngthit', 2, 1133, 5000000, 3322)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [TENDANGNHAP], [MAQUYEN], [MANGUOIQUANLI], [LUONG], [MAPHUCAP]) VALUES (1130, N'abc', N'abc', 4, 1132, 800000, 6666)
INSERT [dbo].[NHAPSACH] ([MAPHIEUNHAP], [NGAYNHAP], [MANHANVIEN], [NOINHAP], [TONGTIEN]) VALUES (1, CAST(N'2018-12-01' AS Date), 1122, N'Địa điểm A', 500000)
INSERT [dbo].[NHAPSACH] ([MAPHIEUNHAP], [NGAYNHAP], [MANHANVIEN], [NOINHAP], [TONGTIEN]) VALUES (2, CAST(N'2018-12-02' AS Date), 1123, N'Unknown', 500000)
INSERT [dbo].[PHIEUTHUTIEN] ([MAPHIEUTHU], [MAKHACHHANG], [MANHANVIEN], [NGAYTHU], [SOTIENTHU]) VALUES (1, 1234, 1122, CAST(N'2018-12-01' AS Date), 500000)
INSERT [dbo].[PHIEUTHUTIEN] ([MAPHIEUTHU], [MAKHACHHANG], [MANHANVIEN], [NGAYTHU], [SOTIENTHU]) VALUES (2, 1235, 1123, CAST(N'2018-12-01' AS Date), 500000)
INSERT [dbo].[PHUCAP] ([MAPHUCAP], [TENPHUCAP], [TIENTHUONG]) VALUES (2223, N'phụ cấp 4', 500000)
INSERT [dbo].[PHUCAP] ([MAPHUCAP], [TENPHUCAP], [TIENTHUONG]) VALUES (3322, N'Phụ cấp 1', 25000)
INSERT [dbo].[PHUCAP] ([MAPHUCAP], [TENPHUCAP], [TIENTHUONG]) VALUES (5555, N'phụ cấp 3', 30000)
INSERT [dbo].[QUYEN] ([MAQUYEN], [CHUCVU]) VALUES (1, N'Quản trị')
INSERT [dbo].[QUYEN] ([MAQUYEN], [CHUCVU]) VALUES (2, N'Nhân  viên')
INSERT [dbo].[QUYEN] ([MAQUYEN], [CHUCVU]) VALUES (3, N'Giám đốc')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATHELOAI], [TACGIA], [DONGIABAN]) VALUES (12, N'Toán', 11, N'Văn D', 35000)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATHELOAI], [TACGIA], [DONGIABAN]) VALUES (13, N'Tin học A', 22, N'Thị A', 25000)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATHELOAI], [TACGIA], [DONGIABAN]) VALUES (14, N'Văn học B', 33, N'Văn C', 30000)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU]) VALUES (N'abc', N'1111')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU]) VALUES (N'ngbuoi', N'1234')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU]) VALUES (N'ngthib', N'abc')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (11, N'Thể loại 1')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (22, N'Thể loại 2')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (33, N'Thể loại 3')
INSERT [dbo].[UUDAI] ([MAUUDAI], [TENUUDAI], [LOAIKHACHHANG], [UUDAI], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (252525, N'Ưu đãi 1', N'thân thiết', -30, CAST(N'2018-12-05' AS Date), CAST(N'2019-01-01' AS Date))
INSERT [dbo].[UUDAI] ([MAUUDAI], [TENUUDAI], [LOAIKHACHHANG], [UUDAI], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (333333, N'ưu đãi 2', N'thường', -10, CAST(N'2018-12-01' AS Date), CAST(N'2018-12-11' AS Date))
INSERT [dbo].[UUDAI] ([MAUUDAI], [TENUUDAI], [LOAIKHACHHANG], [UUDAI], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (444444, N'ưu đãi 5', N'vip', -50, CAST(N'2018-11-01' AS Date), CAST(N'2019-11-30' AS Date))
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CTHD_SACH]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SACH]  WITH CHECK ADD  CONSTRAINT [FK_CTNS_KHO] FOREIGN KEY([MASACH])
REFERENCES [dbo].[KHO] ([MASACH])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SACH] CHECK CONSTRAINT [FK_CTNS_KHO]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SACH]  WITH CHECK ADD  CONSTRAINT [FK_CTNS_NS] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[NHAPSACH] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP_SACH] CHECK CONSTRAINT [FK_CTNS_NS]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KH_UD] FOREIGN KEY([MAUUDAI])
REFERENCES [dbo].[UUDAI] ([MAUUDAI])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KH_UD]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_SACH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_NQL] FOREIGN KEY([MANGUOIQUANLI])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_NQL]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_PC] FOREIGN KEY([MAPHUCAP])
REFERENCES [dbo].[PHUCAP] ([MAPHUCAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_PC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_QUYEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_TK] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_TK]
GO
ALTER TABLE [dbo].[NHAPSACH]  WITH CHECK ADD  CONSTRAINT [FK_NS_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[NHAPSACH] CHECK CONSTRAINT [FK_NS_NV]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PTT_KH] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PTT_KH]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PTT_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PTT_NV]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TL] FOREIGN KEY([MATHELOAI])
REFERENCES [dbo].[THELOAI] ([MATHELOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TL]
GO
